In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('spam.csv', encoding='latin-1')

In [3]:
df.shape

(5572, 5)

# Steps for the machine learning project 
### :Data Cleaning
### :EDA 
### :Text Preprocessing
### :Model Building 
### :Evaluation 
### :Improvment
### :website
### :Deploy

# 1 Data Cleaning

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [5]:
## drop last 3 cols 
df.drop(columns = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

In [6]:
df.sample(5)

       v1                                                 v2
1936  ham      My planning usually stops at \find hella weed
1252  ham  Yeah like if it goes like it did with my frien...
4824  ham         I am going to sleep. I am tired of travel.
385   ham                             It took Mr owl 3 licks
3028  ham              What is your record for one night? :)

In [7]:
df.rename(columns = {'v1':'Target', 'v2':'Text'}, inplace=True)

In [8]:
df.sample(5)

     Target                                               Text
3073    ham                Don know. I did't msg him recently.
1516    ham  I need to come home and give you some good lov...
1100    ham  You busy or can I come by at some point and fi...
2473    ham                         Ok lor wat time Ì_ finish?
1866    ham     Or Ì_ go buy wif him then i meet Ì_ later can?

In [9]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Target'] = le.fit_transform(df['Target'])

In [10]:
## missing value
df.isnull().sum()

Target    0
Text      0
dtype: int64

In [11]:
df = df.drop_duplicates(keep='first')

In [13]:
df.duplicated().sum()

0

In [14]:
df

      Target                                               Text
0          0  Go until jurong point, crazy.. Available only ...
1          0                      Ok lar... Joking wif u oni...
2          1  Free entry in 2 a wkly comp to win FA Cup fina...
3          0  U dun say so early hor... U c already then say...
4          0  Nah I don't think he goes to usf, he lives aro...
...      ...                                                ...
5567       1  This is the 2nd time we have tried 2 contact u...
5568       0              Will Ì_ b going to esplanade fr home?
5569       0  Pity, * was in mood for that. So...any other s...
5570       0  The guy did some bitching but I acted like i'd...
5571       0                         Rofl. Its true to its name

[5169 rows x 2 columns]